.container .nav {
  user-select: none;
  position: fixed;
  top: 8vh;
  left: 0;
  width: 20%;
  height: 92vh;
  background-color: #000;
}

.nav .separator {
  width: 90%;
  margin: 0 auto;
}

.nav .mainOption {
  display: flex;
  align-items: center;
  width: 90%;
  background-color: #141414;
  margin: 15px auto;
  padding: 5px 10px;
  border-radius: 10px;
}

.mainOption .icon {
  color: white;
  width: 25px;
  margin: 0 10px;
}

.mainOption p {
  color: white;
  font-family: "Roboto";
  font-size: 30px;
}

.nav .additionalOption .option {
  display: flex;
  align-items: center;
  width: 90%;
  margin: 10px auto;
  border-radius: 15px;
}

.option p {
  color: white;
  font-family: "Roboto";
}

.option .iconAdditional {
  width: 10px;
  color: white;
  margin-right: 10px;
  margin-left: 20px;
}

.favoritesBox {
  margin-left: 20%;
  width: 80%;
}

/* popup */

.popup {
  user-select: none;
  position: absolute;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  margin: auto;
  background-color: #fff;
  height: 30vh;
  width: 40vw;
  border-radius: 15px;
  font-family: "Roboto";
}

.popup h1 {
  position: absolute;
  top: 20%;
  left: 20px;
  right: 20px;
  font-size: 25px;
}

.popup p {
  position: absolute;
  text-align: justify;
  top: 35%;
  left: 20px;
  right: 20px;
  font-size: 20px;
}

.popup .keep {
  position: absolute;
  bottom: 10px;
  right: 28%;
  background-color: #fff;
  border: 2px solid #919191;
  width: 25%;
  height: 20%;
  border-radius: 10px;
  color: #919191;
  font-size: 20px;
  transition: 0.5s;
}

.popup .cancel {
  position: absolute;
  bottom: 10px;
  right: 10px;
  border: none;
  background-color: #d60000;
  width: 25%;
  height: 20%;
  border-radius: 10px;
  color: white;
  font-size: 20px;
  display: flex;
  align-items: center;
  justify-content: space-between;
}

.cancel .iconCancel {
  position: absolute;
  top: 50%;
  transform: translateY(-50%);
  left: 0;
  padding: 8px;
  width: 50px;
  height: 100%;
  border-radius: 10px;
  background-color: #aa0000;
  opacity: 0;
  transition: 0.5s;
}

.cancel:hover .iconCancel {
  opacity: 1;
}

.cancel p {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);

  transition: 0.5s;
}

.cancel:hover p {
  left: 60%;
}

.wrapper {
  position: absolute;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  background-color: #000;
  opacity: 0.8;
  z-index: 10;
}

.planInfo {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  width: 30%;
  height: 60%;
  background-color: #fff;
  border-radius: 15px;
}

.planInfo .popupImage {
  width: 80%;
  height: auto;
  position: absolute;
  top: 40%;
  left: 50%;
  transform: translate(-50%, -50%);
}

.planInfo .popupImageLogo {
  position: absolute;
  top: 90%;
  left: 50%;
  width: 30%;
  height: auto;
  transform: translate(-50%, -50%);
}

.planInfo h1 {
  position: absolute;
  bottom: 25%;
  left: 0;
  width: 100%;
  font-family: "Roboto";
  text-align: center;
}

@media (min-width: 1024px) {
  .container .nav {
    width: 25%;
    height: 92vh;
  }
  .nav .additionalOption .option {
    margin: 5px auto;
  }
}

@media (min-width: 1024px) and (min-height: 768px) {
  .container .nav {
    width: 25%;
    height: 93vh;
    top: 7vh;
  }
}

@media (min-width: 1200px) {
  .container .nav {
    width: 20%;
  }
}

@media (min-width: 1400px) {
  .nav .additionalOption .option {
    margin: 10px auto;
  }
}

@media (min-width: 1600px) {
  .nav .mainOption {
    padding: 10px;
    border-radius: 15px;
  }

  .mainOption .icon {
    width: 30px;
  }

  .mainOption p {
    font-size: 35px;
  }

  .option p {
    font-size: 20px;
  }

  .option .iconAdditional {
    width: 15px;
  }
}
