.mainBox {
  margin-left: 20%;
  margin-top: 10vh;
  width: 80%;
}

.mainBox .infoBox {
  display: flex;
  align-items: center;
  justify-content: center;
}

.infoBox .image {
  width: 15vw;
  height: 15vw;
  border-radius: 150px;
}

.infoBox .detailsBox {
  display: flex;
  flex-direction: column;

  justify-content: space-between;
  height: 14vw;
  width: 30vw;
}

.details {
  margin-left: 30px;
}

.details h1 {
  color: white;
  font-family: "Roboto";
  font-weight: normal;
}

.details .wrapper {
  display: flex;
  margin: 10px;
}

.wrapper .leftBox {
  width: 20%;
  border-right: 2px solid #252526;
}

.wrapper .rightBox {
  width: 20%;
  padding-left: 5px;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
}

.leftBox p {
  color: white;
  font-family: "Roboto";
  padding: 5px;
  font-size: 20px;
}

.rightBox p {
  color: #919191;
  font-family: "Roboto";
  padding: 5px;
  font-size: 16px;
}

.premiumBox {
  margin: 60px auto;
  width: 23%;
  font-family: "Roboto";
  display: flex;
  justify-content: space-between;
  color: white;
  font-size: 30px;
}

.premiumBox .classic {
  padding: 5px;
}

.premiumBox .stateBtn {
  background-color: #00980f;
  padding: 5px 10px;
  border-radius: 10px;
}

/* table  */

.table {
  width: 45%;
  margin: 0 auto;
}

.table .tableTitle {
  background-color: #000;
  display: flex;
  align-items: center;
  justify-content: center;
  margin: 30px 0 5px;
  padding: 15px;
  border-radius: 15px;
}

.tableTitle p {
  font-family: "Roboto";
  color: white;
  font-size: 25px;
}

.tableRow .tableData {
  display: flex;
  align-items: center;
  font-family: "Roboto";
  color: white;
  padding: 10px;
  font-size: 20px;
}

.tableData p:nth-of-type(1) {
  width: 50%;
  border-right: 2px solid #252526;
}

.tableData p:nth-of-type(2) {
  color: #919191;
  padding-left: 10px;
}
