.container {
  margin-left: 20%;
  margin-top: 15vh;
  width: 80%;
}

.container .FAQBox {
  width: 70%;
  margin: 0 auto;
}

.container .FAQBox h1 {
  color: white;
  font-family: "Roboto";
  margin-bottom: 10px;
}

.container .FAQBox p {
  color: white;
  font-family: "Roboto";
}

.container .contentBox {
  width: 60%;
  margin: 40px auto;
}

@media (min-width: 1024px) {
  .container .FAQBox {
    width: 80%;
  }

  .container .contentBox {
    width: 80%;
  }
}

@media (min-width: 1200px) {
  .container .FAQBox {
    width: 70%;
  }

  .container .contentBox {
    width: 70%;
  }
}

@media (min-width: 1400px) {
  .container .FAQBox {
    width: 60%;
  }

  .container .contentBox {
    width: 60%;
  }
}

@media (min-width: 1600px) {
  .container .FAQBox h1 {
    font-size: 40px;
  }

  .container .FAQBox p {
    font-size: 20px;
  }
}

@media (min-width: 1900px) {
  .container .FAQBox h1 {
    font-size: 45px;
  }

  .container .FAQBox p {
    font-size: 25px;
  }

  .container .FAQBox {
    width: 50%;
  }

  .container .contentBox {
    width: 50%;
  }
}
