.container {
  flex-basis: 50%;
  width: 70%;
  margin: 15vh auto;
}

.container .listItem {
  display: flex;
  align-items: center;
  justify-content: space-between;
  height: 25vh;
  margin: 30px auto;
}

.listItem h1 {
  display: block;
  width: 65%;
  text-align: left;
  font-family: Arial, Helvetica, sans-serif;
  color: white;
}

.listItem .image {
  height: 100%;
  width: 25%;
  object-fit: cover;
}

.menu {
  width: 90%;
  margin: 0 auto;
  display: flex;
  align-items: center;
  justify-content: space-between;
}

.menu .iconsBox {
  display: flex;
}

.menu .iconsBox .iconBox {
  padding: 10px;
}

.iconsBox .iconBox .icon {
  width: 70px;
  color: #919191;
  padding: 5px 15px;
}

.iconsBox .iconBox .active {
  color: white;
}

.iconsBox .iconBox .icon:nth-of-type(odd) {
  border-right: 3px solid #252526;
}

.menu .iconsBox .iconBox:nth-of-type(1) {
  border-right: 4px solid #252526;
}

.menu .dropDownBox {
  width: 40%;
}

.listBox .listItem {
  display: flex;
  align-items: center;
  justify-content: space-between;
  padding: 10px;
  height: 25vh;
  width: 90%;
  color: white;
  background-color: #252526;
  margin-bottom: 25px;
  border-radius: 15px;

  box-shadow: 0px 0px 2px 1px rgba(12, 12, 12, 0.5);
  -webkit-box-shadow: 0px 0px 2px 1px rgba(12, 12, 12, 0.5);
  -moz-box-shadow: 0px 0px 2px 1px rgba(12, 12, 12, 0.5);
}

.listBox .image {
  width: 22%;
  height: 100%;
  object-fit: cover;
}

.listBox .listItem p.description {
  text-align: justify;
  padding: 0 20px;
  font-size: 16px;
  font-family: "Roboto", sans-serif;
}

.listBox .listItem h1 {
  display: block;
  width: 100%;
  padding: 10px 20px 10px;
  font-family: "Roboto", sans-serif;
}

.listBox .details {
  position: relative;
  height: 100%;
}

.listBox .details p.place {
  position: absolute;
  font-family: "Roboto", sans-serif;
  color: #919191;
  right: 0;
  top: 0;
  padding-right: 3px;
  font-size: 14px;
}

@media (min-width: 1024px) {
  .menu {
    width: 100%;
  }
  .menu .iconsBox .iconBox {
    padding: 5px;
  }

  .iconsBox .iconBox .icon {
    width: 65px;
  }

  .listBox .listItem {
    height: 16vw;
    width: 100%;
  }
  .listBox .listItem p.description {
    font-size: 14px;
  }

  .listBox .listItem h1 {
    padding: 5px 20px;
    font-size: 26px;
  }
}

@media (min-width: 1200px) {
  .menu .iconsBox .iconBox {
    padding: 10px;
  }

  .iconsBox .iconBox .icon {
    width: 70px;
  }
  .listBox .listItem p.description {
    font-size: 18px;
  }

  .listBox .listItem h1 {
    padding: 10px 20px;
    font-size: 30px;
  }
}

@media (min-width: 1400px) {
  .menu .iconsBox .iconBox {
    padding: 10px;
  }
  .listBox .listItem {
    height: 13vw;
    width: 90%;
  }
  .iconsBox .iconBox .icon {
    width: 75px;
  }
  .listBox .listItem p.description {
    font-size: 18px;
  }

  .listBox .listItem h1 {
    padding: 10px 20px;
    font-size: 30px;
  }
}

@media (min-width: 1600px) {
  .listBox .listItem p.description {
    font-size: 20px;
  }

  .listBox .listItem h1 {
    padding: 10px 20px;
    font-size: 30px;
  }
}

@media (min-width: 1900px) {
  .menu .iconsBox .iconBox {
    padding: 10px;
  }
  .iconsBox .iconBox .icon {
    width: 80px;
  }
  .listBox .listItem p.description {
    font-size: 24px;
  }

  .listBox .listItem h1 {
    padding: 10px 20px;
    font-size: 40px;
  }

  .listBox .details p.place {
    font-size: 20px;
  }
}
