.container {
  display: flex;
  align-items: center;
  justify-content: space-between;
}

.container .ChoiseBox {
  flex-basis: 45%;
}

.container .ChoiseBox p.title {
  display: block;
  width: 100%;
  color: white;
  font-family: Arial, Helvetica, sans-serif;
  font-size: 24px;
  font-weight: bold;
  text-align: center;
}
