.container {
  width: 100%;
  margin-bottom: 40px;
}

.container h1 {
  color: white;
  font-family: Arial, Helvetica, sans-serif;
  padding: 10px 10px 50px;
  width: 100%;
}

.container .SliderBox {
  width: 100%;
}
