.container {
  position: relative;
  width: 15vh;
  height: 6vh;
  position: absolute;
  top: 50%;
  right: 6%;
  transform: translateY(-50%);
  display: flex;
  align-items: center;
  justify-content: space-around;
}

.container .image {
  user-select: none;
  width: 6vh;
  height: 6vh;
  border-radius: 10px;
  cursor: pointer;
}

.container .panel {
  user-select: none;
  background-color: black;

  box-shadow: 0px 8px 13px -4px rgba(0, 0, 0, 0.75);
  -webkit-box-shadow: 0px 8px 13px -4px rgba(0, 0, 0, 0.75);
  -moz-box-shadow: 0px 8px 13px -4px rgba(0, 0, 0, 0.75);

  border-top: none;
  width: 15vw;
  position: absolute;
  top: 115%;
  right: 30%;
  padding: 20px 0;
  transform: translateX(50%);
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}

.container .panel p {
  font-size: 20px;
  font-family: Arial, Helvetica, sans-serif;
  padding: 5px;
  color: white;
}

.container .icon {
  color: white;
  width: 4vh;
  height: 4vh;
  cursor: pointer;
}

.container .search {
  position: absolute;
  width: 5vw;
  right: 235%;
  transform: translateY(-50%);
  animation: searchAnimation 0.8s ease-in forwards;
}

.container .search input[type="search"] {
  user-select: none;
  border: none;
  height: 4vh;
  width: 15vw;
  background-color: #252526;
  color: white;
  font-size: 16px;
  padding: 5px;
  border-radius: 5px;
  animation: searchAnimationWidth 0.8s ease-in forwards;
}

.panel .separator {
  width: 90%;
  margin: 10px auto;
}

.panel p.logout {
  cursor: pointer;
  font-size: 16px;
  border-bottom: 2px solid transparent;
}

.panel .link {
  width: 50%;
  display: flex;
  align-items: center;
  justify-content: space-between;
}

.panel .link .icon {
  width: 20px;
}

.panel .link p {
  width: 75%;
}
