.commentContainer {
  width: 80%;
  height: 15vw;
  position: relative;
  background-color: #1e1e1e;
  display: flex;
  flex-direction: column;
  margin-left: auto;
  margin-right: 20px;
  margin-bottom: 40px;
}

.commentContainer .profileIcon {
  position: absolute;
  top: -25px;
  left: -100px;
  height: 12vw;
  width: 12vw;
}

.commentContainer .upperBox {
  display: flex;
  align-items: center;
  justify-content: space-between;
  padding: 0 10px 10px 50px;
}

.upperBox .nick {
  font-size: 26px;
  font-family: "Roboto", sans-serif;
  color: white;
  padding-left: 10px;
  padding-top: 5px;
}

.upperBox .date {
  font-size: 14px;
  font-family: "Roboto", sans-serif;
  color: #919191;
}

.commentContainer .commentText {
  display: block;
  height: 80%;
  padding: 0 20px 5px 65px;
  font-size: 16px;
  font-family: "Roboto", sans-serif;
  color: white;
}

.commentContainer .optionPanel {
  display: flex;
  align-items: center;
  justify-content: space-between;
}

.optionPanel .thumbPanel {
  display: flex;
  align-items: center;
  justify-content: space-between;
  width: 55%;
}

.thumbPanel .thumbBox {
  background-color: #252526;
  border-radius: 50px;
  width: 9vw;
  display: flex;
  align-items: center;
  justify-content: space-between;
  padding: 2px 10px;
  margin-right: 5px;
}

.thumbBox p {
  font-family: "Roboto", sans-serif;
  color: white;
  font-weight: bold;
}

.optionPanel .icon {
  font-size: 25px;
  padding-right: 5px;
  border-right: 2px solid #000;
}

.optionPanel .leftBox {
  display: flex;
  align-items: center;
  justify-content: center;
  margin-left: 10px;
  border: 2px solid #252526;
  border-radius: 50px;
  padding: 0 10px;
  height: 30px;
  margin-bottom: 5px;
}

.optionPanel .leftBox p {
  font-family: "Roboto", sans-serif;
  color: white;
  padding-right: 10px;
  font-size: 14px;
}

.optionPanel .leftBox .shareIcon {
  width: 14px;
  color: white;
}

.optionPanel .rightBox {
  display: flex;
  justify-content: flex-end;
  padding-right: 20px;
  margin-bottom: 5px;
}

.commentReplay {
  position: relative;
  display: flex;
  align-items: center;
}

.commentReplay .replayIcon {
  color: white;
  font-size: 25px;
  margin-left: 5px;
}

.commentReplay p {
  position: absolute;
  bottom: -10%;
  right: -35%;
  font-family: "Roboto", sans-serif;
  color: white;
}

/* xxxxxx */

.replyBox {
  display: flex;
  align-items: last baseline;
  flex-direction: column;
  margin: 30px 0;
}

.replyBox .reply {
  position: relative;
  width: 80%;
  height: 8vh;
  background-color: #252526;
  margin: 0 auto 30px;
  margin-left: auto;
  margin-right: 20px;
}

.replyBox .replyIcon {
  position: absolute;
  top: -10px;
  left: -50px;
  width: 6vw;
  height: 6vw;
}

.replyBox .replyUpperBox {
  padding: 2px 10px 5px 20px;
  display: flex;
  align-items: center;
  justify-content: space-between;
  font-family: "Roboto", sans-serif;
}

.replyUpperBox .replyNick {
  color: white;
  font-size: 16px;
}

.replyUpperBox .replyDate {
  color: #919191;
  font-size: 10px;
}

.replyBox .replyText {
  padding-left: 20px;
  color: white;
  font-size: 12px;
  font-family: "Roboto", sans-serif;
}

.replyInput {
  width: 60%;
  margin-left: auto;
  margin-right: 10%;
}

.replyInput input[type="text"] {
  border: none;
  height: 6vh;
  width: 22vw;
  background-color: transparent;
  border-bottom: 2px solid #007acc;
  color: white;
  font-size: 22px;
  margin-right: 10px;
  padding-left: 10px;
}

.replyInput input[type="text"]:focus {
  outline: none;
}

.replyInput button {
  position: relative;
  height: 5.5vh;
  width: 5.5vh;
  border: none;
  background-color: #007acc;
  border-radius: 8px;
}

.replyInput button .replyIcon {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  color: white;
  font-size: 25px;
}

@media (min-width: 1024px) {
  .optionPanel .thumbPanel {
    width: 75%;
  }

  .replyInput input[type="text"] {
    border: none;
    height: 4vw;
    width: 28vw;
    border-bottom: 2px solid #007acc;
    font-size: 20px;
  }
  .replyInput button {
    height: 4vw;
    width: 4vw;
  }
  .replyBox .reply {
    width: 80%;
    height: 6vw;
  }

  .commentContainer .upperBox {
    padding: 0 10px 10px 25px;
  }

  .commentContainer .commentText {
    padding: 0 20px 5px 35px;
  }
}

@media (min-width: 1200px) {
  .commentContainer .profileIcon {
    top: -25px;
    left: -130px;
  }
  .commentContainer {
    width: 80%;
    height: 14vw;
  }
  .replyBox .replyIcon {
    left: -65px;
  }
  .replyInput {
    width: 60%;
    margin-left: auto;
    margin-right: 13%;
  }
  .thumbPanel .thumbBox {
    width: 7vw;
  }
}

@media (min-width: 1300px) {
  .commentContainer .profileIcon {
    left: -140px;
  }
  .commentContainer {
    width: 80%;
    height: 13vw;
  }
  .replyInput input[type="text"] {
    border: none;
    height: 3.5vw;
    width: 25vw;
    border-bottom: 2px solid #007acc;
  }
  .replyInput button {
    height: 3.5vw;
    width: 3.5vw;
  }
  .replyInput {
    width: 60%;
    margin-left: auto;
    margin-right: 11%;
  }
  .replyBox .reply {
    width: 80%;
    height: 5vw;
  }
  .replyBox .replyIcon {
    left: -50px;
    width: 4.5vw;
    height: 4.5vw;
  }
}

@media (min-width: 1400px) {
  .commentContainer .profileIcon {
    left: -150px;
  }
}

@media (min-width: 1500px) {
  .commentContainer .profileIcon {
    left: -140px;
    height: 10vw;
    width: 10vw;
  }
  .commentContainer {
    height: 11vw;
  }
  .replyBox .replyIcon {
    left: -55px;
    width: 4.5vw;
    height: 4.5vw;
  }
}

@media (min-width: 1600px) {
  .commentContainer .profileIcon {
    left: -140px;
    height: 10vw;
    width: 10vw;
  }
  .commentContainer {
    height: 12vw;
  }
  .replyInput input[type="text"] {
    border: none;
    height: 3.5vw;
    width: 25vw;
    border-bottom: 2px solid #007acc;
    font-size: 24px;
  }
  .replyBox .replyIcon {
    left: -55px;
    width: 4vw;
    height: 4vw;
  }
  .replyInput button {
    height: 3.5vw;
    width: 3.5vw;
  }
}

@media (min-width: 1900px) {
  .replyInput button .replyIcon {
    font-size: 35px;
  }
  .commentContainer .profileIcon {
    left: -165px;
    height: 10vw;
    width: 10vw;
  }
  .commentContainer {
    height: 12vw;
  }
  .replyInput input[type="text"] {
    font-size: 30px;
  }
  .replyBox .replyIcon {
    left: -75px;
    width: 4.5vw;
    height: 4.5vw;
  }
  .thumbPanel .thumbBox {
    width: 7vw;
  }
  .upperBox .nick {
    font-size: 35px;
    padding-left: 15px;
    padding-top: 10px;
  }

  .upperBox .date {
    font-size: 20px;
  }

  .commentContainer .commentText {
    padding: 0 20px 5px 40px;
    font-size: 22px;
  }
  .thumbBox p {
    font-size: 22px;
  }

  .optionPanel .icon {
    font-size: 35px;
  }

  .optionPanel .leftBox {
    display: flex;
    align-items: center;
    justify-content: center;
    margin-left: 10px;
    border: 4px solid #252526;
    border-radius: 50px;
    padding: 20px;
    height: 30px;
    margin-bottom: 5px;
  }

  .optionPanel .leftBox p {
    font-size: 24px;
  }

  .optionPanel .leftBox .shareIcon {
    width: 24px;
  }
  .commentReplay .replayIcon {
    color: white;
    font-size: 35px;
  }

  .commentReplay p {
    font-size: 20px;
  }

  .replyUpperBox .replyNick {
    font-size: 24px;
  }

  .replyUpperBox .replyDate {
    font-size: 16px;
  }

  .replyBox .replyText {
    font-size: 17px;
  }
}
