.container {
  width: 70%;
  margin: 0 auto;
}

.container .inputBox {
  margin: 10vh 0;
  height: 8vh;
  display: flex;
  align-items: center;
  justify-content: center;
}

.inputBox .profileIconInput {
  height: 8vh;
  width: 8vh;
  object-fit: cover;
  margin-right: 10px;
}

.inputBox input[type="text"] {
  border: none;
  height: 6vh;
  width: 25vw;
  background-color: transparent;
  border-bottom: 2px solid #007acc;
  color: white;
  font-size: 24px;
  margin-right: 10px;
  padding-left: 10px;
}

.inputBox input[type="text"]:focus {
  outline: none;
}

.inputBox button[type="submit"] {
  position: relative;
  height: 6vh;
  width: 6vh;
  border: none;
  background-color: #007acc;
  border-radius: 8px;
}

.inputBox button[type="submit"] .sendIcon {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  color: white;
  font-size: 25px;
}

@media (min-width: 1024px) {
  .inputBox input[type="text"] {
    height: 4.5vw;
    width: 30vw;
    border-bottom: 2px solid #007acc;
  }
  .inputBox .profileIconInput {
    height: 5vw;
    width: 5vw;
  }
  .inputBox button[type="submit"] {
    height: 4.5vw;
    width: 4.5vw;
  }
}

@media (min-width: 1300px) {
  .inputBox input[type="text"] {
    height: 3.5vw;
    width: 30vw;
    border-bottom: 2px solid #007acc;
  }
  .inputBox .profileIconInput {
    height: 4vw;
    width: 4vw;
  }
  .inputBox button[type="submit"] {
    height: 3.5vw;
    width: 3.5vw;
  }
}

@media (min-width: 1600px) {
  .inputBox input[type="text"] {
    height: 3.5vw;
    width: 25vw;
    border-bottom: 2px solid #007acc;
  }
}

@media (min-width: 1800px) {
  .inputBox button[type="submit"] .sendIcon {
    font-size: 35px;
  }
  .inputBox input[type="text"] {
    font-size: 30px;
  }
}
