.imageWrapper .imageMain {
  position: relative;
  width: 100%;
}

.imageWrapper .opacity {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background-color: #000;
  opacity: 0.6;
}

.imageWrapper .imageBox {
  position: absolute;
  top: 70%;
  left: 50%;
  transform: translateX(-50%);
  width: 70%;
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.imageBox h1 {
  color: white;
  font-family: "Roboto", sans-serif;
  font-size: 50px;
}

.imageBox .tpBtn {
  border: none;
  padding: 15px;
  background-color: transparent;
  border-radius: 10px;
  border-bottom: 2px solid #007acc;
  font-family: "Roboto", sans-serif;
  color: white;
  font-size: 20px;
}

.descriptionWrapper {
  margin: 105vh auto 80px;
  display: flex;
  justify-content: center;
}

.descriptionWrapper .image {
  text-align: center;
  width: 20vw;
  height: 65vh;
  margin-right: 30px;
  object-fit: cover;
}

.descriptionWrapper .descriptionBox {
  width: 40%;
}

.descriptionWrapper .descriptionBox p.description {
  color: white;
  font-family: "Roboto", sans-serif;
  padding: 10px 20px 20px;
}

.descriptionWrapper .descriptionBox .separator {
  width: 95%;
  margin: 0 auto;
}

.descriptionWrapper .detailsBox {
  margin: 0 auto;
  display: flex;
  align-items: center;
  justify-content: center;
  padding: 10px 20px 20px;
  color: white;
  font-family: "Roboto", sans-serif;
}

.detailsBox .leftBox {
  height: 35vh;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  padding-right: 30px;
  border-right: 2px solid #252526;
}

.detailsBox .leftBox p {
  padding: 10px;
  font-size: 22px;
}

.detailsBox .rightBox {
  height: 35vh;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  padding-left: 30px;
}

.detailsBox .rightBox p {
  padding: 10px;
  font-size: 16px;
}

@media (min-width: 1024px) {
  .descriptionWrapper .image {
    height: 65vh;
    width: 30vw;
  }
}

@media (min-width: 1200px) {
  .descriptionWrapper .image {
    height: 55vh;
    width: 40vw;
  }
}

@media (min-width: 1400px) {
  .descriptionWrapper .descriptionBox {
    width: 35%;
  }
  .descriptionWrapper .image {
    height: 55vh;
  }
}

@media (min-width: 1600px) {
  .descriptionWrapper .descriptionBox p.description {
    font-size: 20px;
  }
  .detailsBox .leftBox p {
    padding: 10px;
    font-size: 26px;
  }

  .detailsBox .rightBox p {
    padding: 10px;
    font-size: 20px;
  }
}

@media (min-width: 1680px) {
  .imageBox h1 {
    font-size: 70px;
  }

  .imageBox .tpBtn {
    font-size: 26px;
  }
}

.spinner {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
}
