.container {
  margin: 0 auto 50px;
  display: flex;
  align-items: center;
  justify-content: center;
  width: 100%;
}

.vidBox {
  position: relative;
  height: 80vh;
  width: 70vw;
  margin: 0 auto;
}

.video {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
}

.container .optionPanel {
  height: 10vh;
  width: 70vw;
  margin: 0 auto 20px;
  display: flex;
  align-items: center;
  justify-content: space-between;
  border-bottom: 10vh;
  background-color: #000;
  padding: 20px;
}

.optionPanel .leftBox {
  width: 40%;
  display: flex;
  align-items: center;
  justify-content: space-between;
}

.optionPanel h1 {
  color: white;
  font-family: "Roboto", sans-serif;
}

.optionPanel .thumbPanel {
  display: flex;
  align-items: center;
  justify-content: space-between;
  width: 55%;
}

.thumbPanel .thumbBox {
  background-color: #252526;
  border-radius: 50px;
  width: 7vw;
  display: flex;
  align-items: center;
  justify-content: space-between;
  padding: 2px 10px;
}

.thumbBox p {
  font-family: "Roboto", sans-serif;
  color: white;
  font-weight: bold;
  /* font-size: 18px; */
}

.optionPanel .icon {
  font-size: 35px;
  padding-right: 5px;
  border-right: 3px solid #000;
}

.optionPanel .rightBox {
  display: flex;
  align-items: center;
  justify-content: space-between;
}

.rightBox .shareBox {
  position: relative;
  width: 35px;
  height: 35px;
  border-radius: 100px;
  border: 2px solid white;
}

.shareBox .shareIcon {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  color: white;
  width: 18px;
}

.iconRight {
  color: white;
  width: 35px;
  margin-left: 20px;
  font-size: 35px;
}

/* Pop-up */

.addPopup {
  width: 40%;
  margin: 0 auto;
  display: flex;
  align-items: center;
  justify-content: center;
  background-color: #141414;
  padding: 15px 0;
  border-radius: 10px;
  border: 3px solid #252526;
}

.addPopup .addPopupIcon {
  width: 30px;
  color: yellow;
  margin-right: 10px;
}

.addPopup p {
  color: white;
  font-size: 26px;
  font-family: "Roboto", sans-serif;
}

.sharePopup {
  width: 40%;
  margin: 5px auto;
  display: flex;
  align-items: center;
  justify-content: space-between;
  background-color: #141414;
  padding: 15px;
  border-radius: 10px;
  border: 3px solid #252526;
}

.sharePopup p {
  user-select: none;
  color: #919191;
  font-size: 18px;
  font-family: "Roboto", sans-serif;
}

.sharePopup button {
  color: white;
  background-color: #007acc;
  border: none;
  padding: 5px;
  width: 75px;
  border-radius: 15px;
  font-size: 18px;
  font-family: "Roboto", sans-serif;
}
