.container .descriptionContainer {
  position: relative;
  margin: 15vh auto;
  width: 70vw;
  height: 80vh;
  display: flex;
  align-items: center;
}

.container .image {
  width: 50%;
  height: 100%;
  object-fit: cover;
}

.container .discriptionBox {
  width: 45%;
  height: 90%;
  margin-left: 2%;
  background-color: #1e1e1e;
}

.container .discriptionBox h1 {
  color: white;
  font-family: Arial, Helvetica, sans-serif;
  margin: 25px;
  font-size: 40px;
  text-align: center;
}

.container .discriptionBox p.title {
  display: block;
  width: 25%;
  padding-left: 10px;
  color: white;
  margin: 10px;
  font-family: Arial, Helvetica, sans-serif;
  font-size: 24px;
}

.container .discriptionBox p.descriptionTitle {
  display: block;
  width: 100%;
  padding-left: 15px;
  color: white;
  margin: 5px 5px 0;
  font-family: Arial, Helvetica, sans-serif;
  font-size: 24px;
}

.container .discriptionBox p.descriptionText {
  color: white;
  margin: 10px 20px;
  font-family: Arial, Helvetica, sans-serif;
  font-size: 16px;
  text-align: justify;
}

.container .discriptionBox p.description {
  color: white;
  margin: 10px 20px;
  font-family: Arial, Helvetica, sans-serif;
  font-size: 16px;
}

.discriptionBox .details {
  display: flex;
  align-items: center;
  justify-content: space-between;
  background-color: #252526;
  width: 100%;
  border-radius: 15px;
}

.discriptionBox .detailsDescription {
  display: flex;
  align-items: center;
  flex-direction: column;
  justify-content: space-between;
  background-color: #252526;
  border-radius: 15px;
  width: 95%;
  margin: 10px auto;
}

.detailsDescription .separator {
  width: 90%;
}

.discriptionBox .details .description {
  width: 50%;
}

.video {
  margin: 0 auto;
  margin-bottom: 8%;
  box-shadow: 0px 0px 12px 3px rgba(0, 0, 0, 0.75);
  -webkit-box-shadow: 0px 0px 12px 3px rgba(0, 0, 0, 0.75);
  -moz-box-shadow: 0px 0px 12px 3px rgba(0, 0, 0, 0.75);
}

.seasonsBox {
  width: 60%;
  margin: 0 auto 50px;
}

.seasonsBox .seasonBox {
  margin-bottom: 10px;
}

.seasonBox .seasonNumber {
  background-color: #252526;
  font-size: 30px;
  font-family: Arial, Helvetica, sans-serif;
  color: white;
  padding: 10px;
  border-radius: 10px;
}

.seasonBox .epizodesBox {
  display: flex;
  flex-direction: column;
}

.epizodesBox .epizodeBox {
  display: flex;
  align-items: center;
  padding: 15px;
}

.epizodeBox .epizodeNumber {
  font-size: 18px;
  font-family: Arial, Helvetica, sans-serif;
  color: white;
  width: 100%;
  font-weight: bold;
}

.epizodeBox .epizodeName {
  font-size: 16px;
  font-family: Arial, Helvetica, sans-serif;
  color: white;
  width: 25%;
}

.epizodeBox .icon {
  width: 20px;
  color: white;
  opacity: 0;
  transition: 0.5s;
  margin-right: 10px;
}

.epizodeBox:hover .icon {
  opacity: 1;
}

/* sssssssssssssssssssssss */

.imageWrapper .imageMain {
  position: relative;
  width: 100%;
  height: 100vh;
}

.imageWrapper .opacity {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background-color: #000;
  opacity: 0.6;
}

.imageWrapper .imageBox {
  position: absolute;
  top: 70%;
  left: 50%;
  transform: translateX(-50%);
  width: 70%;
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.imageBox h1 {
  color: white;
  font-family: "Roboto", sans-serif;
  font-size: 50px;
}

.imageBox .tpBtn {
  border: none;
  padding: 15px;
  background-color: transparent;
  border-radius: 10px;
  border-bottom: 2px solid #007acc;
  font-family: "Roboto", sans-serif;
  color: white;
  font-size: 20px;
}

.descriptionWrapper {
  margin: 105vh auto 80px;
  display: flex;
  justify-content: center;
}

.descriptionWrapper .image {
  text-align: center;
  width: 25vw;
  height: 65vh;
  margin-right: 30px;
  object-fit: cover;
}

.descriptionWrapper .descriptionBox {
  width: 40%;
}

.descriptionWrapper .descriptionBox p.description {
  color: white;
  font-family: "Roboto", sans-serif;
  padding: 10px 20px 20px;
}

.descriptionWrapper .descriptionBox .separator {
  width: 95%;
  margin: 0 auto;
}

.descriptionWrapper .detailsBox {
  margin: 0 auto;
  display: flex;
  align-items: center;
  justify-content: center;
  padding: 10px 20px 20px;
  color: white;
  font-family: "Roboto", sans-serif;
}

.detailsBox .leftBox {
  height: 35vh;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  padding-right: 30px;
  border-right: 2px solid #252526;
}

.detailsBox .leftBox p {
  padding: 10px;
  font-size: 22px;
}

.detailsBox .rightBox {
  height: 35vh;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  padding-left: 30px;
}

.detailsBox .rightBox p {
  padding: 10px;
  font-size: 16px;
}

@media (min-width: 1024px) {
  .epizodeBox .epizodeName {
    width: 35%;
    margin-left: 10px;
  }
  .descriptionWrapper .image {
    height: 65vh;
    width: 30vw;
  }
}

@media (min-width: 1200px) {
  .descriptionWrapper .image {
    height: 55vh;
    width: 40vw;
  }
}

@media (min-width: 1400px) {
  .epizodeBox .epizodeName {
    width: 25%;
    margin-left: 0;
  }

  .descriptionWrapper .descriptionBox {
    width: 35%;
  }
  .descriptionWrapper .image {
    height: 55vh;
  }
}

@media (min-width: 1600px) {
  .descriptionWrapper .descriptionBox p.description {
    font-size: 20px;
  }
  .detailsBox .leftBox p {
    padding: 10px;
    font-size: 26px;
  }

  .detailsBox .rightBox p {
    padding: 10px;
    font-size: 20px;
  }

  .seasonBox .seasonNumber {
    font-size: 36px;
  }

  .epizodeBox .epizodeNumber {
    font-size: 22px;
  }

  .epizodeBox .epizodeName {
    font-size: 20px;
  }
}

@media (min-width: 1680px) {
  .imageBox h1 {
    font-size: 70px;
  }

  .imageBox .tpBtn {
    font-size: 26px;
  }
}

.spinner {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
}
