.container {
  width: 90%;
  height: 70vh;
  margin: 13vw auto 0;
  display: flex;
  align-items: center;
  justify-content: center;
}

.container .infoBox {
  position: relative;
  width: 35%;
  height: 80vh;
}

.infoBox .image {
  width: 100%;
  height: 100%;
  object-fit: cover;
}

.infoBox .opacity {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background-color: #000;
  opacity: 0.75;
}

.infoBox .info {
  position: absolute;
  top: 50%;
  left: 50%;
  width: 95%;
  transform: translate(-50%, -50%);
  color: white;
  font-family: Arial, Helvetica, sans-serif;
}

.infoBox .info h1 {
  padding: 10px 0;
  text-align: center;
}

.infoBox .info p {
  font-size: 18px;
  padding: 0 20px;
  text-align: justify;
}

.container .inputBox {
  position: relative;
  width: 35%;
  height: 80vh;
  background-color: #252526;
}

.inputBox .welcomeBox {
  width: 80%;
  margin: 20px auto 3vh;
  color: white;
  font-family: Arial, Helvetica, sans-serif;
}

.inputBox .welcomeBox h1 {
  font-size: 20px;
  padding: 5px 0;
}

.inputBox .welcomeBox p {
  padding-bottom: 15px;
  font-size: 12px;
}

.container .loginForm {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: space-between;
  height: 35%;
}

.loginForm .input {
  position: relative;
  width: 60%;
}

.loginForm .input input[type="text"],
.loginForm .input input[type="password"] {
  border: none;
  border: 2px solid #1e1e1e;
  color: white;
  padding: 6px 0 6px 7vh;
  width: 100%;
  height: 6vh;
  font-size: 20px;
  background-color: #1e1e1e;
  border-radius: 8px;
}

.loginForm .input .iconBox {
  position: absolute;
  top: 0;
  left: 0;
  height: 6vh;
  width: 6vh;
  background-color: #141414;
  border-radius: 8px;
}

.input .iconBox .icon {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  width: 3vh;
  height: 3vh;
  color: white;
}

.loginForm input[type="text"]:focus,
.loginForm input[type="password"]:focus {
  outline: none !important;
  border: 2px solid #141414;
}

.loginForm input[type="submit"] {
  width: 60%;
  height: 6vh;
  border: none;
  border-radius: 8px;
  background-color: #007acc;
  color: white;
  font-size: 20px;
}

.inputBox .links {
  display: flex;
  align-items: center;
  justify-content: space-between;
  width: 60%;
  margin: 15px auto;
  color: white;
  font-family: Arial, Helvetica, sans-serif;
  font-size: 12px;
}

.links .link {
  cursor: pointer;
}

.container .errorBox {
  display: block;
  width: 100%;
  margin-bottom: 10px;
  text-align: center;
  color: rgb(236, 86, 86);
  font-family: Arial, Helvetica, sans-serif;
  font-size: 12px;
}

@media (min-width: 1024px) {
  .container .infoBox {
    width: 45%;
    height: 50vw;
  }

  .container .inputBox {
    width: 45%;
    height: 50vw;
  }

  .loginForm .input {
    position: relative;
    width: 60%;
  }

  .loginForm .input input[type="text"],
  .loginForm .input input[type="password"] {
    padding: 6px 0 6px 5vw;
    height: 4.5vw;
    font-size: 18px;
  }

  .loginForm .input .iconBox {
    height: 4.5vw;
    width: 4.5vw;
    border-radius: 8px;
  }

  .input .iconBox .icon {
    width: 2.5vw;
    height: 2.5vw;
  }

  .loginForm input[type="submit"] {
    height: 4.5vw;
  }
  .container .errorBox {
    margin-bottom: 20px;
  }
}

@media (min-width: 1200px) {
  .loginForm .input input[type="text"],
  .loginForm .input input[type="password"] {
    padding: 6px 0 6px 4.5vw;
    height: 4vw;
  }

  .loginForm .input .iconBox {
    height: 4vw;
    width: 4vw;
  }

  .input .iconBox .icon {
    width: 2vw;
    height: 2vw;
  }

  .loginForm input[type="submit"] {
    height: 3.5vw;
  }
}

@media (min-width: 1400px) {
  .container .errorBox {
    font-size: 16px;
  }

  .inputBox .links {
    font-size: 16px;
  }
  .inputBox .welcomeBox h1 {
    font-size: 30px;
  }

  .inputBox .welcomeBox p {
    font-size: 16px;
  }

  .infoBox .info h1 {
    font-size: 40px;
  }

  .infoBox .info p {
    font-size: 24px;
  }
}

@media (min-width: 1900px) {
  .loginForm .input input[type="text"],
  .loginForm .input input[type="password"] {
    padding: 6px 0 6px 4vw;
    height: 3.5vw;
    font-size: 24px;
  }

  .loginForm .input .iconBox {
    height: 3.5vw;
    width: 3.5vw;
  }

  .input .iconBox .icon {
    width: 1.5vw;
    height: 1.5vw;
  }

  .loginForm input[type="submit"] {
    height: 3.5vw;
    font-size: 30px;
  }

  .container .errorBox {
    font-size: 22px;
    margin-bottom: 30px;
  }

  .inputBox .links {
    font-size: 22px;
  }
  .inputBox .welcomeBox h1 {
    font-size: 40px;
  }

  .inputBox .welcomeBox p {
    font-size: 22px;
  }

  .infoBox .info h1 {
    font-size: 50px;
  }

  .infoBox .info p {
    font-size: 30px;
  }
}

.spinnerBox {
  position: relative;
  background-color: #000;
  opacity: 0.3;
  width: 100%;
  height: 100%;
}

.spinner {
  position: absolute;
  z-index: 11;
  top: 40%;
  left: 50%;
  transform: translate(-50%, -50%);
}
