.container {
  position: relative;
  top: 0;
  left: 0;
  /* margin-bottom: 5vh; */
}

.slider {
  position: absolute;
  top: -10vh;
  left: 0;
  width: 100vw;
  height: 30vh;
}

.category {
  position: absolute;
  top: -11vh;
  left: 60px;
  font-family: Arial, Helvetica, sans-serif;
  font-size: 30px;
  color: white;
}

@media (min-width: 1024px) {
  .slider {
    height: 22vw;
  }

  .category {
    top: -12vh;
    left: 50px;
  }
}

@media (min-width: 1280px) {
  .slider {
    height: 19vw;
  }
}

@media (min-width: 1600px) {
  .slide {
    width: 12vw;
    height: 20vh;
  }
}

@media (min-width: 1920px) {
  .slide {
    width: 16vw;
    height: 20vh;
  }
}
